html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    }

h2 {
    font-size: 2rem;
    font-weight: 900;
}

p {
    font-weight: 500;
    line-height: 26px;
}

.logo {
    margin: 48px 128px 0;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 54px;

    .image-hero-mobile {
        width: 414px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 327px;
        margin: 48px 24px;
        
        h1 {
            font-weight: 900;
            width: 90%;
            font-size: 2.5rem;
            line-height: 44px;
            color: #28283D;
        }

        p {
            font-size: 1rem;
            color: #87879D;
        }
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    button {
        font-weight: 900;
        color: white;
        border-radius: 30px;
        margin-bottom: 16px;
        border:none;
        font-family: "Red Hat Display", sans-serif;

        span {
            color:#8FE3F9;
        }
    }
}

.download-btn {
    background-color: #4D96A9;
    padding: 16px 40px;
}

.what-btn {
    background-color: #855FB1;
    padding: 16px 29px;
    width: 80%;
}

.rounded-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 84px;
    margin-bottom: 64px;

    .vl {
        border-left:1px solid #87879D;
        height:84px;
    }

    .number {
        padding: 15px 19px;
        border: 1px solid #87879D;
        border-radius: 50%;
        font-weight: 900;
        color: #87879D;
    }
}

.second {
    margin-bottom: 0px;
    position: relative;
    top: 27px;
    z-index: 1;
    
    .number {
        background-color: #F2F2F2;
    }
}

.central-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 64px;
    img {
        width: 151px;
        margin: 10px 10px;
        border-radius: 10px;
    }
}

.features {
    margin: 0 24px;
    text-align: center;

    span {
        text-transform: uppercase;
        font-weight: 900;
        color: #4D96A9;
        letter-spacing: 4px;
    }

    p {
        color: #87879D;
        line-height: 26px;
    }
}

footer {
    background-image: url(starter-code/assets/mobile/image-footer.jpg);
    background-size: cover;
    position: relative;
    padding-bottom: 72px;

    .overlay {
        background: #4d96a9;
        opacity: 0.9;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    h2 {
        color: white;
        margin: 92px 24px 24px 24px;
        z-index: 1;
        position: relative;
    }

    p {
        font-weight: 500;
        color: #FAFAFA;
        margin: 0 24px 32px; 
        z-index: 1;
        position: relative;
    }

    .download-btn {
        background-color: #855FB1;
        border: none;
        border-radius: 30px;
        color: white;
        font-weight: 900;
        z-index: 1;
        position: relative;
    }

    span {
        color:#D9B8FF;
        position: relative;
        font-weight: 600;
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 100%;
    }
    .top-container {
        width: 100%;

    .image-hero-mobile {
        width: 840px;
    }
        .intro {
            margin-bottom: 24px;
    
            p {
                width: 457px;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 55%;

        .download-btn {
            width: 50%;
        }

        .what-btn {
            width: 35%;
        }
    }
    
    .features {
        h2 {
            padding: 0 60px;
        }

        p {
            padding: 0 85px;
        }
    }

    .second {
        margin-top: 40px;
    }

    footer {
        background-image: url(starter-code/assets/tablet/image-footer.jpg);
    }
}

@media screen and (min-width: 1024px){
    body {
        width: 100%;
    }

    .buttons .download-btn:hover {
        background-color: #71C0D4;
    }
    .buttons .what-btn:hover {
        background-color: #B18BDD;
    }

    footer {
        width: 100%;

        button:hover {
            background-color: #B18BDD;
        }
    }
}

@media screen and (min-width: 1440px) {
    body {
        width: 100%;
    }

    .top-container {
        background: url(starter-code/assets/desktop/image-hero-left.png) no-repeat left 50px,
                    url(starter-code/assets/desktop/image-hero-right.png) no-repeat right 120px;
        height: 450px;
        margin-top: 0;

        .image-hero-mobile {
            display: none;
        }

        .intro {
            margin: 0;
            width: 450px;

            h1 {
                font-size: 4rem;
                width: 100%;
                line-height: 64px;
            }

            p {
                margin: 0;
                font-size: 1.125rem;
            }
        }
    }
    
    .buttons {
        position: relative;
        bottom: 40px;
        width: 28%;
    }


    .central-images {
        width: 100%;

        img {
            width: 18%;
            margin: 20px;
        }
    }

    .features {
        width: 50%;
    }

    footer {
        width: 100%;
        background-image: url(starter-code/assets/desktop/image-footer.jpg);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: left;
        height: 270px;

        h2, p, button {
            width: 25%;
            margin: 0;
            position: relative;
            top: 30px;
        }

        h2 {
            font-size: 2.5rem;
            width: 22%;
        }

        p {
            font-size: 1.125rem;
        }

        button {
            font-size: 1rem;
            width: 15%;
        }

    }
}